{% extends 'users/index.html'  %}

{% block carousel %}  {% endblock %}
{% block about %} {%  endblock %}
{% block whatwedo %}  {%  endblock %}
{% block gallery %} 
<section>
    <div class="container mt-5">
      <div class="custom_heading-container">
        <h2>
          Gallery
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy1.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
          <img src="{{url_for('static',filename='images/images/bevvy2.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy3.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy4.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy5.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy6.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/slide2.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy9.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy7.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy8.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy10.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy11.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy12.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvy13.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/slide3.JPG')}}" width="100%" alt="" />
        </div>

        <div class="col-md-3 gallery">
            <img src="{{url_for('static',filename='images/images/bevvybg.JPG')}}" width="100%" alt="" />
        </div>


        
        
      </div>
    </div>
  </section>
{%  endblock %}