{% extends 'users/index.html'  %}

{% block carousel %}  {% endblock %}
{% block about %} {%  endblock %}
{% block whatwedo %}  {%  endblock %}
{% block gallery %} 
<section>
    <div class="container mt-5">
      <div class="custom_heading-container">
        <h2>
          Book A Session with Us
        </h2>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
            <form action="post">
                
            </form>
        </div>
      </div>
    </div>
  </section>
{%  endblock %}