{% extends 'users/gallery.html'  %}


{% block gallery %} 
<div class="d-flex" id="wrapper" >
        
  <div class="bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom" style="color:  rgb(3, 3, 93);">
          <img src="images/42c92cb8-fc29-42c7-b1e2-38971e84f946-removebg-preview.png" alt="">
          <p>BEVVY STUDIOS</p> 

      </div>

      {% include 'admin/menu.html' %}
  </div>
 
  <div id="page-content-wrapper" >
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
          <div class="d-flex align-items-center">
              <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
              <h2 class="fs-2 m-0" style="color: #ff0000;">  Dashboards</h2>
          </div>
      </nav>
    <div class="row" style="display: flex; justify-content: center">
    <div class="col-md-5 sm-10 my-5">    
        <form action="" method="post" enctype="multipart/form-data">
            <div style="color: #ff0000;">
            <h4 style="color: #ff0000;">Catalogue</h4> 
                    
            <input type="file" name="gallery">
            <button class="btn btn-success btn-sm mt-3 form-control" >Upload Photo</button>
            <a href="{{url_for('admin_home')}}" class="btn btn-warning btn-sm mt-3 form-control" >Back to Dashboard</a>
            </div>
        </form> 
            </div>   
            
    </div> 

    {{ super()}}
        
    {% endblock %}

    {% block contact %}  {% endblock %} 
    
    {% block footer %}
    
    
    
    <script src=" {{url_for('static',filename='bootstrap/js/bootstrap.bundle.min.js')}} "></script>
        <script>
            var el = document.getElementById("wrapper");
            var toggleButton = document.getElementById("menu-toggle");
    
            toggleButton.onclick = function () {
                el.classList.toggle("toggled");
            };
        </script>
    
        {% endblock %}
    